.wrapper {
  flex-basis: 1000px;
}

.mat-column-login, .mat-column-name, .mat-column-subjectsCount, .mat-column-creationTime {
  padding-right: 16px;
  white-space: nowrap;
}

.mat-column-actions {
  white-space: nowrap;
  flex: 0 0 100px;
  width: 100px;
}
