<div class="dialog">

  <div class="header">
    <h2 mat-dialog-title>Редагування студента</h2>
    <mat-error *ngIf="error">{{errorText}}</mat-error>
  </div>

  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <input matInput [attr.disabled]="requesting ? '' : null" type="text" placeholder="Логін" formControlName="login" required minlength="5" maxlength="20">
        <mat-icon matSuffix svgIcon="login"></mat-icon>
        <mat-error *ngIf="form.controls['login'].errors?.required">Дане поле є обов'язковим</mat-error>
        <mat-error *ngIf="form.controls['login'].errors?.minlength">Логін занадто короткий</mat-error>
        <mat-error *ngIf="!form.controls['login'].errors?.minlength && form.controls['login'].errors?.forbiddenLogin">Недопустимий логін</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [attr.disabled]="requesting ? '' : null" type="text" placeholder="Прізвище" formControlName="lastName" required minlength="3" maxlength="20">
        <mat-icon matSuffix svgIcon="user"></mat-icon>
        <mat-error *ngIf="form.controls['lastName'].errors?.required">Дане поле є обов'язковим</mat-error>
        <mat-error *ngIf="form.controls['lastName'].errors?.minlength">Прізвище занадто коротке</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [attr.disabled]="requesting ? '' : null" type="text" placeholder="Ім'я" formControlName="firstName" required minlength="3" maxlength="20">
        <mat-icon matSuffix svgIcon="user"></mat-icon>
        <mat-error *ngIf="form.controls['firstName'].errors?.required">Дане поле є обов'язковим</mat-error>
        <mat-error *ngIf="form.controls['firstName'].errors?.minlength">Ім'я занадто коротке</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input class="input-group" matInput [attr.disabled]="requesting ? '' : null" type="text" placeholder="Група" [matAutocomplete]="auto" formControlName="group" required maxlength="15">
        <mat-icon matSuffix svgIcon="groups"></mat-icon>
        <mat-error *ngIf="form.controls['group'].errors?.required">Дане поле є обов'язковим</mat-error>
        <mat-error *ngIf="!form.controls['group'].errors?.required && form.controls['group'].errors?.unknownGroup">Невідома група</mat-error>

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <mat-form-field>
        <input matInput autocomplete="new-password" [attr.disabled]="requesting ? '' : null" type="password" placeholder="Пароль (якщо потрібно відновити)" formControlName="password" minlength="5" maxlength="50">
        <mat-icon matSuffix svgIcon="password"></mat-icon>
        <mat-error *ngIf="form.controls['password'].errors?.required">Дане поле є обов'язковим</mat-error>
        <mat-error *ngIf="form.controls['password'].errors?.minlength">Пароль занадто короткий</mat-error>
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button [mat-dialog-close]="undefined" [disabled]="requesting">Назад</button>
    <button mat-stroked-button color="primary" (click)="onSubmit()" [disabled]="form.invalid || requesting">Зберегти</button>
  </mat-dialog-actions>

  <mat-progress-bar class="progress" [ngStyle]="{visibility: requesting? 'visible' : 'hidden'}" mode="indeterminate"></mat-progress-bar>
</div>


